*{
    margin: 0 auto;
}
@font-face{
    font-family: Manrope-Light;
    src: url(fonts/Manrope-Light.ttf);
    font-family: PatuaOne-Regular;
    src: url(fonts/PatuaOne-Regular.ttf);
}
.header{
    background-color: rgb(22, 146, 195);
    width: 100%;
    height: 120px;
}
.header ul{
    float: left;
    list-style-type: none;
    position: absolute;
}
li{
    float :left ;
    margin: 70px 13px;
    color: white;
}
h1{
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 30px;
    left: 440px;
}
.navbar{
    background-color: rgb(4, 56, 103);
    width: 100%;
    height: 70px;
    display: flex;
    margin: 0px 0px 0px 0px;
    
   
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 16px 76px;
    font-size: 1.5rem;
    margin: 0px 0px 0px -5px;
    border: 0.5 solid rgb(4, 56, 103);
    font-family: PatuaOne-Regular;

   
    }
.navbar a :active{
    background-color: rgb(4,56,103);
}
a:hover{
    background-color: rgb(39, 150, 253);
}
#navdown{
color: white;
position: absolute;
top: 380px;
text-shadow: black 3px 3px;
font-family: Manrope-Light;
background-color: rgb(4, 56, 103);
opacity: 0.8;


}
#navdown2{
    color:white;
position: absolute;
top: 450px;
left: 380px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-shadow: black 3px 3px;
background-color: rgb(4, 56, 103);
opacity: 0.8;
}

    

.green{
    background-color: rgb(119, 194, 6);
    width: 100%;
    height: 150px;
}
#makeyourmove{
    position: absolute;
    top: 700px;
    left: 50px;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;

}
#makeyourmovep{
    position: absolute;
    top: 730px;
    right: 30px;
}


.box1{
    width: 310px;
    height: 300px;
    background-color: rgb(233, 231, 231);
    margin: 20px;
    position: relative;
    left: 5px;
    
}
.box1text{
    position: absolute;
    top: 868px;
    left: 32px;
    color: rgb(8, 134, 252);
    font-size: 40px;
    font-family: sans-serif;

}
.box1p{
    position: absolute;
    top: 971px;
    left: 32px;
    color: rgb(77, 77, 77);
    font-size: 40px;
    font-family: sans-serif;
    font-size: 20px;
}
.box2{
    width: 310px;
    height: 300px;
    background-color: rgb(233, 231, 231);
    margin: 20px;
   position: absolute;
   top:838px;
   left: 330px;

}
.box2text{
    
        position: absolute;
        top: 868px;
        left: 407px;
        color: rgb(8, 134, 252);
        font-size: 40px;
        font-family: sans-serif;
}
.box2p{
    position: absolute;
    top: 971px;
    left: 358px;
    color: rgb(77, 77, 77);
    font-size: 40px;
    font-family: sans-serif;
    font-size: 20px;
}
.box3{
    width: 310px;
    height: 300px;
    background-color: rgb(233, 231, 231);
    position: absolute;
   top:858px;
   left: 680px;
}
.box3text{
    position: absolute;
        top: 868px;
        left: 718px;
        color: rgb(8, 134, 252);
        font-size: 40px;
        font-family: sans-serif;
}
.box3p{
    position: absolute;
    top: 971px;
    right: 140px;
    color: rgb(77, 77, 77);
    font-size: 40px;
    font-family: sans-serif;
    font-size: 20px;
}
.box4{
    width: 310px;
    height: 300px;
    background-color: rgb(184, 0, 138);
    margin: 20px;
    position: relative;
    left: 1px;
    top: -4px;
}
.box4text{
    
        position: absolute;
        top: 1202px;
        left: 32px;
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-family: sans-serif;
}
.box5{
    width: 310px;
    height: 300px;
    background-color: rgb(12, 137, 255);
    margin: 20px;
   position: absolute;
   top:1157px;
   left: 330px;
   }
.box5text{
    position: absolute;
    top: 1202px;
    left: 355px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: sans-serif;
}
.events{
    position: absolute;
    top: 1171px;
    left: 710px;
    font-size: 25px;
    
    
}
.events>button{
    border:  black;
    color: rgb(84, 255, 84);
    background-color: white;
    height: 80px;
    width: 80px;
    font-size: 30px;
}
.events>p{
    color: rgb(0, 119, 255);
}
.info>button{
    border :1px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
    height: 40px;
    width: 150px;
    background-color: white;
    margin: 30px;
  cursor: pointer;
}
#footer{
    background-color: rgb(85, 85, 85);
    width: 100%;
    height: 500px;
    list-style-type: none;
    color: rgb(99, 98, 98);
    
    
    
}
#head{
    font-size: 23px;
}
#hr{
    position: absolute;
    top: 500px;
    left: 200px;
}
